
#main {
    height: 100vh;
    background-color:antiquewhite ;
}

#main-box-game {
    height: auto;
}

#game-grid {
    height: 60vh;
}

.grid-row {
    height: 20vh;
}

.grid-box{
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    font-size: 9vh;
    margin: 0;
    height: 2em;
}

#text-screen {
    height: auto;
    border: 1px solid black;
}
