#main {
    height: 100vh;
    background-color: #2ef8a0;
}

#main-box-game {
    height: auto;
}

#game-grid {
    height: 60vh;
}

.grid-row {
    height: 20vh;
}

.grid-box{
    border: 1px solid black;
    border-bottom: none;
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    font-size: 10vh;
}

#info-box {
    height: auto;
    border: 1px solid black;
}

