#main {
    background-color: #2ef8a0;
    height: 100vh;
}

#main-box {
    height: auto;
}

.main-box-options {
    height: 30vh;
}

#main-box-separator {
    height: 1vh;
    background-color: #2ef8a0;
}

.typeP1 {
    margin-top: 2vh;
}
svg{
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: black;
}