#main {
    background-color: #2ef8a0;
    height: 20vh;
}

.main-space {
    height: 40vh;
    background-color: #2ef8a0;
}

#main-start-button {
    width: 20vw;
    margin: 0;
}

#main-start-button:hover {
    border: 1px solid black;
}

#main-start-anchor{
    text-decoration: none;
    color: white;
}

.start-button {
    border: 1px solid #0aa461;
    background-color: #0aa461;
}


.animated-shadow {
    color: #ffffff;
    font: normal 50px Varela Round, sans-serif;
    left: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2000ms infinite;
    z-index: 2
  }
  /*Animación para rotar las sombras*/
  @keyframes move {
    0% {
      text-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc
      ;
    }
    25% {
      text-shadow:
        -4px -4px 0 #13f1fc,
        -3px -3px 0 #13f1fc,
        -2px -2px 0 #13f1fc,
        -1px -1px 0 #13f1fc,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        3px -3px 0 #13f1fc,
        2px -2px 0 #13f1fc,
        1px -1px 0 #13f1fc
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc
      ;
    }
  }